<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Document</title>
</head>
<body>
  <h2>About Stephanie</h2>
  <p>Stephanie is a Full Stack developer who is currently learning all about Leaflet.js and Mapbox. </p>
  <ul>
    <li><a href="https://www.linkedin.com/in/snopeks/">LinkedIn</a></li>
    <li><a href="https://github.com/snopeks">Github</a></li>
  </ul>
</body>
</html>